@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.navbar {
    background-color: #392F8F;
    /* ... */
}

/*-------------------------------------Untuk img----------------------------------------------------*/
.navbar-brand img {
    margin: auto -190px; /* Mengatur margin negatif */
    max-width: calc(50% + 20px); /* Membatasi lebar maksimum gambar */
    height: auto; /* Menyesuaikan tinggi gambar */
    margin-left: 210px;
    margin-top: 20px;
}
/*----------------------------------------NAVBAR-----------------------------------------------------*/
/* CSS untuk mengatur tampilan navbar */

.navbar-brand {
    margin-right: 1rem; /* Margin kanan untuk logo di kiri navbar */
}
.navbar-nav {
    margin-left: auto; /* Menggeser link ke kanan navbar */
}
.navbar-nav .nav-link {
    color: #fff; /* Warna teks link */
    margin-right: 3rem; /* Jarak antara link */
}
/* Toggler icon pada mobile view */
.navbar-toggler {
    border: none; /* Menghilangkan border */
}
/* Mengatur warna ikon toggler */
.navbar-toggler-icon {
    background-color: #fff; /* Warna ikon toggler */
}

.navbar-nav .nav-item .nav-link {
    color: #fff; /* Mengubah warna teks tautan navbar menjadi putih */
}
.navbar-nav .nav-item .nav-link:hover {
    color: #007bff; /* Warna biru saat dihover */
}
.nav-item {
    margin-right: 2.5rem; /* Memberi jarak kanan antara setiap item navbar */
}
/* Mengatur jarak antara item navbar */
.navbar-nav .nav-item {
    margin-right: 1rem; /* Atur jarak kanan antara setiap item navbar */
}

/* Menghilangkan margin kanan pada item navbar terakhir */
.navbar-nav .nav-item:last-child {
    margin-right: 150px; /* Hapus margin kanan pada item terakhir */
}


/*-----------------------------------------------------------------------------------------------------*/

/*----------------------------------------DROPDOWN------------------------------------------------------*/

.dropdown-menu {
    background-color: #052158; 
    border: none; 
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); 
}
.dropdown-item {
    color: #fff;
    padding: 10px 20px; 
}
.dropdown-item:hover {
    background-color: #7eaddc; 
}
.dropdown-item.active {
    background-color: #007bff; 
    color: #fff; 
}
.nav-item.dropdown:hover .dropdown-toggle {
    color: #007bff; 
}
/*------------------------------------------------------------------------------------------------------*/
/*-----------------------------------Section HERO GRADIENT-------------------------------------------------*/
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}
.container {
    padding-top: 30px;
    padding-bottom: 20px;
}
.container h1 {
    position: absolute;
        left: 270px;    
        margin: 0;
        padding: 0;
        background-color: transparent;
    text-align: left;
        top: 220px;
        font-size: 3.5rem;
        font-family: "poppins", sans-serif;
        font-weight: 600;
        color: #fff;
}
.hero {
    background-color: #392F8F;
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    color: #fff;
}
.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}
p{
    position: absolute;
        left: 270px;
        margin: 0;
        top: 300px;
        font-size: 1rem;
        font-family: "poppins", sans-serif;
        color: #fff;
}
/*---------------------------------Button*-----------------------------*/
.button-1 {
        display: inline-block;
        padding: 10px 20px; /* Atur padding sesuai kebutuhan */
        background-color: #007bff; /* Warna latar belakang */
        color: #fff; /* Warna teks */
        border: none; /* Hapus border */
        border-radius: 50px; /* Membuat button menjadi lonjong */
        font-size: 16px; /* Ukuran font */
        cursor: pointer;
        transition: background-color 0.3s ease; /* Efek transisi hover */
        position: absolute;
        left: 270px;
        width: 15%;
        margin: 0;
        top: 420px;
        font-family: "poppins", sans-serif;
    }

    .button-1:hover {
        background-color: #ffffff; /* Warna latar belakang saat dihover */
        color: black; /* Warna font hitam saat dihover */
    }

    .button-2 {
        display: inline-block;
        padding: 10px 20px; /* Atur padding sesuai kebutuhan */
        background-color: #007bff; /* Warna latar belakang */
        color: #fff; /* Warna teks */
        border: none; /* Hapus border */
        border-radius: 50px; /* Membuat button menjadi lonjong */
        font-size: 16px; /* Ukuran font */
        cursor: pointer;
        transition: background-color 0.3s ease; /* Efek transisi hover */
        position: absolute;
        left: 510px;
        width: 15%;
        margin: 0;
        top: 420px;
        font-family: "poppins", sans-serif;
    }

    .button-2:hover {
        background-color: #ffffff; /* Warna latar belakang saat dihover */
        color: black; /* Warna font hitam saat dihover */
    }

    /*-----------------------------LOGO LANDING PAGE----------------------------*/


/* CSS untuk gambar */
img[name="gambar-people"] {
    max-height: 100%; 
    max-width: 100%; 
    margin-left: 670px;
}
/*----------------------------------------------------------------------------------------------------*/

/*-------------------------------------Tentang E-Badean--------------------------------*/
.features1 h2{
    font-family: "poppins", sans-serif;
    color: #052158;
    font-weight: 700;
    font-size: 34px;
}
.feature-item1 p {
    font-family: "poppins", sans-serif;
    color: #052158;
    text-align: left;
    margin-top: -40%;
    margin-left: -45%;
    font-size: 15px;
}
/* CSS untuk konten gambar dalam kolom */
.col-md-6 .feature-item1 {
    display: flex; /* Menggunakan flexbox */
    align-items: center; /* Posisikan item secara vertikal */
}

/* CSS untuk gambar dalam flex container */
.col-md-6 .feature-item1 img {
    width: 60%; /* Lebar gambar */
    margin-bottom: 0; /* Hapus margin bawah */
    margin-left: -20px;
}

/* CSS untuk mengatur urutan dan posisi gambar */
.col-md-6 .feature-item1 img[name="img-web"] {
    order: 2; /* Ubah urutan penempatan gambar web */
}

.col-md-6 .feature-item1 img[name="img-mobile"] {
    order: 1; /* Ubah urutan penempatan gambar mobile */
    margin-left: -20px;
}

/*------------------------------------------------------------------------------*/
/*--------------------------------Aparatur-------------------------------------------*/
.features {
    padding: 80px 0;
    background-color: #052158;
}
.feature-item {
    margin-top: 20px; /* Jarak atas antara setiap elemen */
    margin-bottom: 50px; /* Jarak bawah antara setiap elemen */
}

.features h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #ffffff;
    font-family: "poppins", sans-serif;
    margin-top: -30px;

}
.features-item h3 {
    text-align: center;
    color: #ffffff;
    font-family: "poppins", sans-serif;
    margin-top: -30px;
    font-size: 10px;
}
.feature-item h3{
    font-size: 1.3rem;
}
.feature-item img {
    border-radius: 50%; /* Membuat gambar menjadi bundar */
    width: 200px; /* Lebar gambar */
    height: 200px; /* Tinggi gambar */
    object-fit: cover; /* Gambar diatur untuk mencakup seluruh area dengan mempertahankan rasio aspek */
    object-position: center; /* Posisi gambar di tengah */
    margin-bottom: 20px;
}
.feature-item p.jabatan-1 {
    font-size: 18px; /* Ukuran teks jabatan */
    color: #fff; /* Warna teks jabatan */
    margin-top: 80%;
    margin-left: 390px;
    margin-bottom: 20px;
}
.feature-item p.jabatan-2 {
    font-size: 18px; /* Ukuran teks jabatan */
    color: #ffffff; /* Warna teks jabatan */
    margin-left: -160px;
}
.feature-item p.jabatan-3 {
    font-size: 18px; /* Ukuran teks jabatan */
    color: #ffffff; /* Warna teks jabatan */
    margin-left: -170px;

}
.feature-item p.jabatan-4 {
    font-size: 18px; /* Ukuran teks jabatan */
    color: #ffffff; /* Warna teks jabatan */
    margin-left: -223px;
}
.feature-item p.jabatan-5 {
    font-size: 18px; /* Ukuran teks jabatan */
    color: #ffffff; /* Warna teks jabatan */
    margin-left: -200px;
}
/* CSS untuk konten di dalam feature item */
.feature-item {
    text-align: center; /* Pusatkan teks */
    margin-bottom: 20px; /* Jarak bawah */
}
.feature-item {
    text-align: center;
    font-family: "poppins", sans-serif;
    color: #fefeff;
}
.button-3 {
    background-color: #4CAF50; /* Warna latar belakang */
    color: white; /* Warna teks */
    padding: 15px 25px; /* Jarak padding atas dan bawah, kiri dan kanan */
    border: none; /* Tanpa border */
    border-radius: 50px; /* Sudut border */
    cursor: pointer; /* Kursor berubah menjadi tangan saat diarahkan */
    font-size: 16px; /* Ukuran teks */
    transition: background-color 0.3s; /* Transisi ketika tombol berubah warna */
    left: 470px;
    width: 20%;
    margin-left: 460px;
    margin-top: 70px;
    font-family: "poppins", sans-serif;
}

.button-3:hover {
    background-color: #ffffff; /* Warna latar belakang saat dihover */
        color: black; /* Warna font hitam saat dihover */
}

/*------------------------------------------------------------------------------------------------------*/
/*----------------------------------------Layanan Masnyarakat-----------------------------------------------*/
.features1 {
    padding: 50px 0;
    background-color: #fff;
}
#layanan h4 {
    font-size: 34px; /* Font size */
    font-weight: bold; /* Font weight */
    text-align: center; /* Text alignment */
    margin-bottom: 20px; /* Bottom margin */
    font-family: "poppins", sans-serif;
    color: #052158;
}

.features1 h2 {
    text-align: center;
    margin-bottom: 30px;
}
#layanan.features {
    background-color: #fff; /* Warna latar belakang */
    padding: 50px 0; /* Jarak padding atas dan bawah */
}
.container {
    max-width: 1200px; /* Lebar maksimum konten */
    margin: 0 auto; /* Tengahkan konten */
    padding: 0 15px; /* Jarak padding kiri dan kanan */
}
.row {
    display: flex; /* Mengatur elemen baris menjadi flexbox */
    flex-wrap: wrap; /* Mengizinkan baris untuk melintasi multiple lines jika diperlukan */
    justify-content: center; /* Posisi elemen-elemen dalam baris ke tengah */
}
.col-md-3 {
    flex: 0 0 25%; /* Setiap kolom menempati 25% dari lebar container */
    max-width: 25%; /* Lebar maksimum setiap kolom */
    padding: 0 15px; /* Jarak padding kiri dan kanan */
    box-sizing: border-box; /* Ukuran kotak termasuk padding dan border */
}
.layanan-item {
    text-align: center; /* Posisi teks ke tengah */
    margin-bottom: 30px; /* Jarak antara setiap elemen layanan */
    display: flex; /* Mengatur elemen layanan-item menjadi flexbox */
    flex-direction: column; /* Membuat konten di dalam layanan-item menjadi tata letak vertikal */
    text-align: center; /* Posisi teks ke tengah */
    height: 90%; /* Agar setiap kotak memiliki tinggi yang sama */
}
.layanan-item img {
    width: auto; /* Mengisi lebar parent */
    height: auto; /* Menyesuaikan tinggi secara otomatis */
    margin-bottom: 20px; /* Jarak antara gambar dan teks */
}
.layanan-item h3 {
    font-size: 18px; /* Ukuran teks judul */
    margin-bottom: 10px; /* Jarak antara judul dan paragraf */
}
.button-4 {
    background-color: #FFF212; /* Warna latar belakang */
    color: #392F8F; /* Warna teks */
    padding: 15px 25px; /* Jarak padding atas dan bawah, kiri dan kanan */
    border: none; /* Tanpa border */
    border-radius: 50px; /* Sudut border */
    cursor: pointer; /* Kursor berubah menjadi tangan saat diarahkan */
    font-size: 16px; /* Ukuran teks */
    transition: background-color 0.3s; /* Transisi ketika tombol berubah warna */
    left: 450px;
    width: 20%;
    margin-left: 600px;
    margin-top: 60px;
    font-family: "poppins", sans-serif;
}
.button-4:hover {
    background-color: #cac002; /* Warna latar belakang saat dihover */
    color: black; /* Warna font hitam saat dihover */
    font-family: "poppins", sans-serif;
}
/*---------------------------------------------------------------------------------------------*/
/*------------------------------------Berita & Pengumuman------------------------------------------*/

.layanan-item {
    background-color: #f8f9fa; /* Warna latar belakang */
    border: 1px solid #ced4da; /* Border */
    border-radius: 5px; /* Border radius */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Animasi saat hover */
    padding: 20px; /* Padding */
    text-align: center; /* Pusatkan teks */
    cursor: pointer; /* Ganti kursor saat hover */
}
#berita h5 {
    font-size: 34px; /* Font size */
    font-weight: bold; /* Font weight */
    text-align: center; /* Text alignment */
    margin-bottom: 20px; /* Bottom margin */
    font-family: "poppins", sans-serif;
    color: #052158;
}
.layanan-item img {
    display: block; /* Atur gambar agar tampil sebagai blok */
    margin: 0 auto; /* Posisikan gambar ke tengah */
    margin-bottom: 10px; /* Beri jarak bawah dari gambar ke teks */
}
.layanan-item h3 {
    margin-bottom: 10px; /* Beri jarak bawah dari judul ke teks */
}
.layanan-item:hover {
    background-color: #e2e6ea; /* Ganti warna latar belakang saat hover */
    transform: translateY(-5px); /* Angkat sedikit saat hover */
}
.berita-container {
    display: flex; /* Gunakan flexbox untuk layout */
    justify-content: space-between; /* Pisahkan elemen secara horizontal */
    align-items: center; /* Pusatkan elemen secara vertikal */
    margin-bottom: 20px; /* Jarak antar berita */
    padding: 20px; /* Padding */
    border: 1px solid #ced4da; /* Border */
    border-radius: 5px; /* Border radius */
    background-color: #f8f9fa; /* Warna latar belakang */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Animasi saat hover */
}
.berita-container:hover {
    background-color: #e2e6ea; /* Ganti warna latar belakang saat hover */
}
.berita-image {
    flex: 0 0 100px; /* Atur lebar gambar */
    margin-right: 20px; /* Jarak antara gambar dan teks */
}
.berita-image img {
    width: 100%; /* Agar gambar mengisi kotak */
    border-radius: 5px; /* Border radius */
}
.berita-content {
    flex: 1; /* Agar konten dapat memenuhi sisa ruang */
}
.berita-content h3 {
    margin-top: 0; /* Hilangkan margin atas pada judul */
}
.gradient-bg {
    background: linear-gradient(to bottom, #392F8F, #052158);
}
.hidden {
    display: none;
}
/*landing page style*/
/*---------------------------------------End-Page-----------------------------------------*/
/* CSS untuk layout end-page */
.end-page {
    padding: 150px 0;
    background-color: #052158;
}

.container-end {
    margin: -20px auto 0; /* Menyesuaikan margin untuk menghilangkan gap atas */
    max-width: 1200px;
}

.alamat {
    display: flex;
    align-items: center;
}

.alamat img {
    max-width: 100px; /* Ukuran logo disesuaikan */
    margin-right: 20px; /* Jarak antara logo dengan teks */
}

.kontak {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Mengatur kontak berdampingan */
}

.content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #052158;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: none;
    width: 100%;
    height: 100%;
}


.content-box img {
    margin-bottom: 10px; /* Jarak antara gambar dan teks */
}

.content-box span,
.content-box .additional-info {
    color: #fff; /* Warna teks */
    font-size: 16px; /* Ukuran teks */
    margin: 0; /* Menghapus margin */
    margin-bottom: 5px; /* Jarak antara tulisan dan teks */
}

.email, .telepon {
    width: 45%; /* Lebar kontak box */
}

/* CSS untuk responsivitas */
@media (max-width: 768px) {
    .alamat img {
        max-width: 80px; /* Ukuran logo disesuaikan untuk layar kecil */
    }

    .kontak {
        flex-direction: column;
    }

    .email, .telepon {
        width: 100%; /* Kontak box menjadi full-width pada layar kecil */
        margin-bottom: 20px; /* Jarak antara kotak kontak */
    }
}

.alamat-end {
    margin-right: 20px; /* Jarak antara teks dengan logo */
    font-size: 20px;
    color: #fff;
}

.alamat-end1 {
    display: block; /* Menjadikan h3 dan p menjadi blok */
    margin: 5px 0; /* Memberikan jarak di atas dan bawah */
    color: #fff;
    font-size: 18px;
}

.alamat-end2 {
    margin: 5px 0; /* Memberikan jarak di atas dan bawah */
    color: #fff;
    font-size: 16px;
}



/*------------------------------------- Footer------------------------------------------- */
footer {
background-color: #060607;
color: #fff;
text-align: center;
padding: 20px 0;
position: fixed;
bottom: 0;
width: 100%;
transition: background-color 0.3s ease; /* Efek transisi untuk perubahan warna latar belakang */
/* Tambahkan class hidden-footer agar tidak terlihat secara default */
opacity: 0;
pointer-events: none;
}

/* Efek hover pada footer */
footer:hover {
background-color: #292e33; /* Ubah warna latar belakang saat dihover */
}


/* CSS untuk menyembunyikan footer */
.hidden-footer {
opacity: 0;
pointer-events: none;
transition: opacity 0.3s ease;
margin-top: -100px;
padding: 20px 0; /* Padding untuk footer */
}

/* CSS untuk menampilkan footer saat discroll ke bawah */
.show-footer {
opacity: 1;
pointer-events: auto;
}
/*----------------------------responsive--------------------------------*/
/* CSS untuk membuat navbar responsif */



